<p id="notice"><%= notice %></p>

<h1><%= t('activerecord.models.import.other') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.import.created_at') %></th>
    <th><%= t('activerecord.attributes.import.total_value') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @imports.each do |import| %>
    <tr>
      <td><%= l(import.created_at, format: :short) %></td>
      <td><%= currency(import.total_value) %></td>
      <td><%= link_to t('show'), import %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_import'), new_import_path %>
