<p id="notice"><%= notice %></p>

<h1><%= t('activerecord.models.import.one') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.import.created_at') %></th>
    <th><%= t('activerecord.attributes.import.total_value') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= l(@import.created_at, format: :short) %></td>
    <td><%= currency(@import.total_value) %></td>
  </tr>
  </tbody>
</table>

<h3><%= t('imported_items') %></h3>

<table>
  <thead>
  <tr>
    <th><%= t('activerecord.models.buyer.one') %></th>
    <th><%= t('activerecord.attributes.order.description') %></th>
    <th><%= t('activerecord.attributes.order.unit_price') %></th>
    <th><%= t('activerecord.attributes.order.quantity') %></th>
    <th><%= t('activerecord.attributes.order.total') %></th>
    <th><%= t('activerecord.attributes.buyer.address') %></th>
    <th><%= t('activerecord.models.provider.one') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @import.orders.each do |order| %>
    <tr>
      <td><%= order.buyer.name %></td>
      <td><%= order.product.description %></td>
      <td><%= currency(order.unit_price) %></td>
      <td><%= order.quantity %></td>
      <td><%= currency(order.total_price) %></td>
      <td><%= order.buyer.address %></td>
      <td><%= order.product.provider.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>


</br>

<%= link_to t('back'), imports_path %>
